.dropdown-menu {
  background: red;
  width: 200px;
  position: absolute;
  top: 60px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background:  #a3c2c2;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #a3c2c2;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}
