@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    
    display: flex;
    height: 5rem;
    margin: 3rem;
    background-color: whitesmoke;
    justify-content: space-between;
    position: sticky;
    top: 0.3rem;
    z-index: 1;
    
}

.esstls, .comps{
    list-style: none;
    display: flex;
}

.logo{
    padding-left: 2rem;
    align-self: center;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    font-family: 'Nunito', sans-serif;
}

.sc{
    display: flex;
}

.si{
    padding: none;
}

.t{
    visibility: visible;
}

.nt{
    visibility: hidden;
}

.its{
    align-self: center;
    padding: 1rem;
    font-family: 'Nunito', sans-serif;
    color: black;
    
}

.su, .lo, .i, .nav-item{
    text-decoration: none;
    color: black;
}

.nav-links {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
}






